.content-wrapper{ padding: 1.5rem !important; }
.navbar {
    box-shadow: 0px 5px 21px -5px #CDD1E1 !important;
}
.navbar .navbar-brand-wrapper{ padding: 10px 12px !important;}
h4.title {
    font-size: 1.2rem;
    font-weight: 700 !important;
    color: #2c3e50 !important;
}
h6.subtitle{ font-size: 0.7rem !important; color: #7f8c8d !important; font-weight: bold !important; }
.navbar .navbar-brand-wrapper .brand-logo-mini img{ width: 100% !important; }
.page-header {
    margin-bottom: 0.5rem !important;
}
.breadcrumb {
    border: none !important;
}
.page-header .page-title {
    line-height: 2 !important;
    font-weight: 700;
}
.sidebar{ background: #fff !important; }

.btn.btn-sm{ border-radius: 5px !important; }
.add-btn{ float: right; }
.form-control, .typeahead, .tt-query, .tt-hint, .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single, .form-select, .chosen-container {
    line-height: 2.5rem !important;
}
.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices {
    width: 100% !important;
    height: 2.5rem !important;
    background: none !important;
}
